.formularioCreacion {
    background-color: var(--decoration);
    width: 100%;
    padding: 30px;
    border-radius: 25px;
    border: solid 1px var(--details);

    text-align: center;
}

.formularioCreacion h2{
    font-family: "Agbalumo", sans-serif;
    color: var(--details);
}

.formularioCreacion .seccionEditar{
    width: 80%;
    padding: 20px;
    margin: 20px 150px;
    border: 2px solid var(--details);
    border-radius: 50px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formularioCreacion .seccionEditar label{
    background-color: var(--btn);
    width: auto;
    padding: 0px 0px 0px 20px;
    border-radius: 50px;

    display: flex;
    align-items: center;
    gap: 10px;

    color: var(--generalText);
    font-weight: bold;
}

.formularioCreacion form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formularioCreacion input, .formularioCreacion textarea{
    background-color: white;
    width: 100%;
    padding: 8px 20px;
    border: 5px solid var(--btn);
    border-radius: 50px;
    
    transition: .3s ease-in;

    font-family: "Agbalumo", sans-serif;
    color: var(--lBrown);
    font-size: 25px;
    text-align: center;
    text-decoration: none;
}

.formularioContacto textarea{
    min-height: min-content;
    min-width: 92%;

    resize: vertical;
}

.formularioCreacion button{
    background-color: var(--decoration);
    width: fit-content;
    margin: 5px 0px;
    padding: 8px 20px;
    border: 5px solid var(--btn);
    border-radius: 50px;
    
    transition: .3s ease-in;

    font-family: "Agbalumo", sans-serif;
    color: var(--btnHover);
    font-size: 25px;
}

.formularioCreacion button:hover{
    background-color: var(--btnHover);
    color: white;
}
