.sidebar {
    background-color: var(--details);
    width: 25%;

    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.sidebar .busqueda button{
    background-color: var(--btn);
    border: none;
    border-radius: 50px;
    padding: 10px;

    width: 50px;
    height: 50px;

    transition: .3s ease-in;
}

.sidebar .busqueda button:hover{
    background-color: var(--btnHover);
}

.sidebar label{
    color: white;
    font-weight: 600;
}

.sidebar .busqueda, .sidebar select, .sidebar option {
    background-color: white;
    width: 100%;
    margin: 5px 0px;
    padding: 8px 20px;
    border: 5px solid var(--btn);
    border-radius: 50px;
    
    transition: .3s ease-in;
}

.sidebar input, .sidebar select, .sidebar option{
    font-family: "Agbalumo", sans-serif;
    color: var(--btn);
    font-size: 25px;
    text-align: center;
    text-decoration: none;
}

.sidebar .busqueda input{
    width: 85%;
}

.sidebar .busqueda{
    display: flex;
    gap: 5px;
}

.sidebar input{
    border: none;
}


@media screen and (width <= 800px) {
    .sidebar {
        width: 100%;
    }

    .sidebar input, .sidebar select{
        width: max-content;
    }

}